@model HotelReservationSystem.Models.Customer

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Edit customer</h3>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group editor-datetime">
        @Html.LabelFor(c => c.Birthdate)
        @Html.TextBox("Birthdate","", new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(c => c.Birthdate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.IsInactive)
        @Html.CheckBoxFor(m => m.IsInactive, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.IsInactive, "", new { @class = "text-danger" })
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        var d = moment('@(Model.Birthdate?.ToString("s"))', 'YYYY-MM-DD').toDate();
        $('.datepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            date: d
        });

    });
</script>
}
